.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem;

}

.navbar-container img {
    width: 200px;
}

.navbar-content {
    display: flex;
    gap: 60px;
}

.navbar-content li {
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}

