.div-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10rem;
    align-items: center;
    justify-items: center;
}

.image {
    max-width: 100%;
    margin-bottom: 5rem;
}

.tech-list {
    display: flex;
    gap: 20px;
    margin-bottom: 2rem;
}

.tech-list li {
    border: 1px solid white;
    border-radius: 15px;
    padding: 9px;
    font-size: 18px;
    color: white;
}

.content {
    color: white;
    font-size: 30px;

}

.imageCompany {
    width: 750px;
}

@media (max-width: 1400px) {
    .imageCompany {
        width: 550px;
    }


    .div-main {
        align-items: end;
    }
}