.container-speacialties {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient(circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, rgba(245, 247, 252, 1) 100.2%);
}

.container-speacialties p {
    font-size: 32px;
    display: flex;
    margin: 3rem 0 3rem 0;
    width: 50%;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    justify-content: center;
}

.container-speacialties h2 {
    font-size: 40px;
    margin-top: 2rem;
    font-family: 'Space Grotesk', sans-serif;
}

.container-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    align-items: center;
    justify-items: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1450px) {
    .container-images {
        width: 75%;
        flex-wrap: wrap;
    }

    .container-speacialties p {
        font-size: 24px
    }

    ;
}

@media (max-width: 950px) {
    .container-images {
        width: 100%;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
    }

    .container-speacialties p {
        font-size: 20px;
        width: auto;
    }

    .container-speacialties  {
        padding: 2rem 1rem;
    }

    ;
}